*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(186, 143, 84);
}

header{
    text-align: center;
}

header .phone{
    background-color: rgb(186, 143, 84);
    padding:7px ;
    border-bottom: 1.2px solid rgba(0, 0, 0, 0.644);

}

header .number{
    font-weight: 900;
    color: brown;
    font-size: 33px;
    background-color: #efffcf;
    font-style: oblique;
    padding: 24px 0px;
}



button{
    text-decoration: none;
    background-color: inherit;
    border: 2px solid brown;
    padding : 5px 3px;
}

main{
    text-align: center;
    background-color: #eff7ff;
    padding: 12px;
    font-family: cursive;
    color: red;
    font-weight: bolder;
}
footer{
    
    text-align: center;
}